<div class="grid mt pl pr">
	<div class="grid__col12">
		<div class="grow-headline">
			<strong class="fs-headline">Show us the power of sharing.</strong>
		</div>
	</div>
</div>

<div class="grid mt pl pr">
	<div class="grid__col4">
		<div class="grow">
			<div class="grow-th">
				<i class="mdi mdi--favorite tc-red-500"></i>
			</div>
			<span class="fs-headline">You Chose Us</span><br />
			<div class="par">
				You have already experienced Listr: from posting upto tracking your car. No doubt, you enjoyed while working with the web service.
			</div>
		</div>
	</div>


	<div class="grid__col4">
		<div class="grow">
			<div class="grow-th">
				<i class="mdi mdi--person-add tc-light-green-500"></i>
			</div>
			<span class="fs-headline">Spread A Word</span><br />
			<div class="par">
				Show your friends your new discovery. Explain them why you loved Listr. Nice services should be shared!
			</div>
		</div>
	</div>

	<div class="grid__col4">
		<div class="grow">
			<div class="grow-th">
				<i class="mdi mdi--trending-up tc-blue-500"></i>
			</div>
			<span class="fs-headline">Grow With Us</span><br />
			<div class="par">
				It is pretty straightforward. We rely on you, we rely on every awesome user who shares us and helps us to grow.
			</div>
		</div>
	</div>
</div>



