<div class="grid mt pl pr">
	<div class="grid__col12">
    	<div class="data-table-container">	
    		<table class="data-table data-table--has-primary data-table--has-secondary">
        		<tbody>
	            	<tr class="data-table__clickable-row" ng-repeat="car in listerApp.cars | filter:query | orderBy:'-created_at'">
    	            	<td>
	        	            <div lx-thumbnail thumbnail-src={{car.images[0]}} thumbnail-width="120" thumbnail-height="120"></div>
            	    	</td>
                		<td>
                    		<span>{{car.year}} {{car.make}} {{car.model}}</span>
                    		<p><small>added: {{car.created_at | date:'MM/dd/yyyy @ h:mma'}}</small></p>
                		</td>

                		<td>
                    		<span class="fs-headline">{{car.price | currency:"$":0}}</span>
                		</td>
            		</tr>
        		</tbody>
    		</table>
    	</div>
    </div>
</div>