<div class="grid mt pl pr">
	<div class="grid__col12">
		<div class="pricing-headline">
			<strong class="fs-headline">Awesome packages just for you</strong>
		</div>
	</div>
</div>

<div class="grid mt pl pr">
	<div class="grid__col4">
        <div class="card">
            <div class="card__top bgc-green-500">
                <strong class="card-title">Dude</strong>
            </div>

            <div class="card__content card__content--small">
                <div class="paragraph">
                    <p>Max allowed photos: 5</p>
                    <p>Post lifespan: 50 days</p>
                    <p>Number of urgent posts: 0</p>
                </div>

                <div class="price-field">
					<p><hr></p>
                	<strong class="card-title">Free</strong>
				</div>

            </div>

            <div class="card__actions">
                <button class="btn btn--m btn--blue btn--flat" lx-ripple disabled>Subscribed!</button>
            </div>
		</div>
	</div>

	<div class="grid__col4">
        <div class="card">
            <div class="card__top bgc-orange-500">
                <strong class="card-title">Dealer</strong>
            </div>

            <div class="card__content card__content--small">
                <div class="paragraph">
                    <p>Max allowed photos: 10</p>
                    <p>Post lifespan: 100 days</p>
                    <p>Number of urgent posts: 2</p>
                </div>

                <div class="price-field">
					<p><hr></p>
                	<strong class="card-title">$0.99</strong>
				</div>

            </div>

            <div class="card__actions">
                <button class="btn btn--m btn--blue btn--flat" lx-ripple>Subscribe</button>
            </div>
		</div>
	</div>

	<div class="grid__col4">
        <div class="card">
            <div class="card__top bgc-red-500">
                <strong class="card-title">Hero</strong>
            </div>

            <div class="card__content card__content--small">
                <div class="paragraph">
                    <p>Max allowed photos: 15</p>
                    <p>Post lifespan: 150 days</p>
                    <p>Number of urgent posts: 3</p>
                </div>

                <div class="price-field">
					<p><hr></p>
                	<strong class="card-title">$3.99</strong>
				</div>

            </div>

            <div class="card__actions">
                <button class="btn btn--m btn--blue btn--flat" lx-ripple>Subscribe</button>
            </div>
		</div>
	</div>

</div>
</div>